Repository firstof9/openevse, pull requests merged in 2024-10, with the labels that each got.

#387 feat: handle timestamp sensors
  custom_components/openevse/const.py
  custom_components/openevse/sensor.py
  tests/test_sensor.py
Labels: feature

#395 refactor: change `Config` import to use `ConfigType` instead
  custom_components/openevse/__init__.py
Labels: code-quality

#396 feat: change charge rate to use `number` platform
  custom_components/openevse/__init__.py
  custom_components/openevse/const.py
  custom_components/openevse/entity.py
  custom_components/openevse/number.py
  tests/conftest.py
  tests/fixtures/status.json
  tests/test_number.py
  tests/test_sensor.py
Labels: feature

#397 refactor: clean up code
  custom_components/openevse/__init__.py
  custom_components/openevse/const.py
  custom_components/openevse/number.py
  tests/test_number.py
Labels: enhancement
