Repository firstof9/openevse, pull requests merged in 2024-12, with the labels that each got.

#410 chore: Fix HACS button in README.md
  README.md
Labels: documentation

#411 chore(docs): fix `indicate` typo in README.md
  README.md
Labels: documentation, chore

#413 fix: handle `UnsupportedFeature` exception in UpdateCoordinator
  custom_components/openevse/__init__.py
Labels: bugfix
